/*
    Contains:
        || Custom fonts
        || :root
        || Mixins
        || Tags
        || Page Layout
        || Navigation
        || Main Sections
        || Visually Hidden & Hover Icon
*/

// || Custom fonts
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
} 

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
} 

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
} 

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.ttf");
} 


@font-face {
    font-family: "ArchiD";
    src: url("../fonts/ArchitectsDaughter-Regular.ttf");
} 

// || :root
:root {
    --stickyBarHeight: 3.4rem;

    --layerBgBelow: 0;
    --layerBgAbove: 1;
    --layerMain: 2;
    --layerFgBelow: 3;
    --layerFgAbove: 4;
}

// || Mixins
@mixin visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@mixin visually-hidden-reset{
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    white-space: normal;
}

@mixin sparkles{
    content: '';
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--layerBgAbove);

    background-image: url(../images/beam-sparkles.png);
    background-size: 65%;
}

// || Tags
body{
    background: linear-gradient($c_background 0%, #131b1d 50%, $c_background 100%);
    font-family: $f_primary;
    color: $c_lighter;

    font-size: 16px;
    margin: 0;
    padding: 0;
}


// Move content-y stuff "above" any sparkles() and other BG layering
h1, h2, a, img, p, ul{
    position: relative;
    z-index: var(--layerMain);
}

h1{
    font-size: 1.8rem;
    color: $c_lightest;
    padding-bottom: 0.2rem;
}

h2{
    color: $c_lighter;
}

a{
    text-decoration: none;
    outline: none;

    &:focus{
        outline: $c_bright dotted 1px;
    }
}


[hidden] { display: none !important; }


// || Page Layout
.whole-page-container {
    box-sizing: border-box;
    width: 100%;
}

.page-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
}
@media screen and (min-width: $breakpoint_min_supported){
    .page-contents {
        align-items: center;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-width {
    width: 100%;
    max-width: $maxWidth;
}

// || Main Sections
.jumptarget{
    scroll-margin-top: var(--stickyBarHeight);

    // The last jumptarget will appear partway down the screen (= undesirable) unless it's at least tall enough 
    // to fill the screen vertically (excluding the nav bar). Ensure it's always tall enough.
    &:last-of-type{
        min-height: calc(var(--vh) - var(--stickyBarHeight));
    }

    &:focus-visible{
        outline-style: none;
    }
}

.main-section {   
    border-top: 1px solid $c_darkest;
    box-sizing: border-box;
    min-height: calc(var(--vh) - var(--stickyBarHeight));
    padding-bottom: 2.5rem;
    width: 100%;

    $g_section: linear-gradient(rgba($c_darkest, 0.60) 0%, rgba($c_darkest, 0.9) 2%, rgba(0,0,0, 0) 80%);
    position: relative;
    background: $g_section;
    &:before{
        @include sparkles();
        mask-image: $g_section;
        -webkit-mask-image: $g_section;

        background-size: 34rem;
        background-repeat: repeat;
    }
}
@media screen and (min-width: $breakpoint_wide_screen){
    .main-section {
        padding-bottom: 5rem;
    }
}

// || Visually Hidden & Hover Icon
.visually-hidden{
    @include visually-hidden;
}

.hover-icon{
    img:last-of-type{
        display: none;
    }
    &:hover,
    &:focus,
    &:active{
        img:first-of-type{
            display: none;
        }
        img:last-of-type{
            display: inline-block;
        }
    }
}