@use 'variables.scss' as v;
@use 'main.scss' as m;

$card-info-side-spacing: 0.5rem;

#projects{
    padding: 0 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        align-self: flex-start;
        position: relative;
        z-index: 3;
    }
}

.project-card-container{
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;

    position: relative;
    z-index: 3;

    // Shrink to one card width, so the cards as a group can be centered
    width: 262px;
}
// Shrink to two card width, so the cards as a group can be centered
@media screen and (min-width: 596px){
    .project-card-container{
        width: calc((262px * 2) + 1.5rem);
    }
}
// Shrink to three card width, so the cards as a group can be centered
@media screen and (min-width: 883px){
    .project-card-container{
        width: calc((262px * 3) + 3rem);
    }
}

.card{
    min-width: 260px;
    width: 260px;
    max-width: 260px;

    border-radius: 0.3rem;
    overflow: hidden;

    border: 1px solid rgba(black, 1%);
    background: v.$g_rune_glow_darker;
    box-shadow: 0 0 1.1rem 0.2rem rgba(black, 40%);

    display: flex;
    flex-direction: column;

    img{
        display: block;
    }
}

.card-heading{
    font-family: v.$f_secondary;
    font-size: 1.3rem;
    font-weight: bold;

    padding: 0.6rem $card-info-side-spacing 0.1rem;
    margin: 0 0;
    background: rgba(black, 30%);
}

.card-description{
    flex-grow: 3;

    font-size: 1rem;
    color: v.$c_mid;
    padding: 0.3rem $card-info-side-spacing 0.75rem;
    margin: 0 0;
    background: rgba(black, 30%); 
}

.tech-icon-strip{
    display: flex;

    box-sizing: border-box;
    padding: 0.5rem $card-info-side-spacing 0.5rem;
    height: 3.5rem;
    width: 100%;

    background-image: url(../images/beam-sparkles.png);
    background-size: 80%;

    position: relative;
    &:after{
        content: '[ ? ]';
        display: block;
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-size: 0.8rem;
        color: v.$c_text_subtle;
    } 
}

.as-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    align-self: center;
}

.as-text{
    align-self: flex-start;

    line-height: 1.2rem;

    display: flex;
    align-items: center;
    width: 100%;
    
    // box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 0.8rem;
    color: v.$c_lighter;
}


.card-links{
    display: flex;
    height: 2rem;
    width: 100%;
    margin: 0 0 0;

    a{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 $card-info-side-spacing;
        box-sizing: border-box;

        color: v.$c_lightest;
        height: 100%;
        width: 100%;
        border-style: solid;
        border-color: rgba(black, 20%);
        border-width: 1px 1px 0 0;

        background: v.$c_darker;

        &:nth-of-type(2){
            border-right: none;
        }

        &:hover,
        &:focus,
        &:active{
            background: url(../images/beam-sparkles-small.png) v.$c_darker_hover;
        }
        &:focus{
            // Prevent the loss of the side of the outline next to the sibling link
            position: relative;
            z-index: 4;

            // Prevent the loss of the sides of the outline up against the borders of the card (which has overflow: hidden)
            outline-offset: -1px;
        }
    }

}


