$card-info-side-spacing: 0.75rem;
$card-width: 260px;

#projects{
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        align-self: flex-start;
        position: relative;
    } 
}

.project-card-container{
    --numCardsPerRow: 1;
    --gap: 1.75rem;

    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);

    position: relative;
    width: calc( #{$card-width} * var(--numCardsPerRow)   +   var(--gap) * (var(--numCardsPerRow) - 1)  );
    z-index: var(--layerMain);  
}
@media screen and (min-width: 596px){
    .project-card-container{
        --numCardsPerRow: 2;
    }
}
@media screen and (min-width: 883px){
    .project-card-container{
        --numCardsPerRow: 3;
    }
}


.card{
    --bgText: #1c3d45;

    display: flex;
    flex-direction: column;

    min-width: $card-width;
    width: $card-width;
    max-width: $card-width;

    background: $c_darkest;
    border-radius: 0.3rem;

    box-shadow: 0 0 1rem 1rem yellow, 0 0 5rem 5rem red;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.35), 0 0 12px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
    overflow: hidden;

    img{
        display: block;
    }
}


.card-heading{
    background: var(--bgText);
    font-family: $f_secondary;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0;
    padding: 1rem $card-info-side-spacing 0.1rem; 
}


.card-description{
    flex-grow: 3;

    background: var(--bgText);
    color: $c_text_card_desc;
    font-size: 1rem;
    margin: 0 0;
    padding: 0.75rem $card-info-side-spacing 1.25rem;
}


.card-description_a{
    text-decoration: underline;

    color: rgb(237, 255, 255);
    &:visited{
        color: rgb(189, 252, 252);
    }
}


.tech-icon-strip{
    display: flex;

    background: rgba(0,0,0,0.15);

    --c_outer: #0c2c33;
    --c_inner: #{$c_darkest};
    background: linear-gradient(90deg, var(--c_outer) 0%, var(--c_inner) 43%, var(--c_inner) 57%, var(--c_outer) 100%);
    box-sizing: border-box;
    padding: 0.5rem $card-info-side-spacing 0.5rem;
    height: 3.5rem;
    width: 100%;

    position: relative;
    &:before{
        @include sparkles();
        background-size: 80%;
        opacity: 50%;
    }
    &:after{
        content: '[ ? ]';
        display: block;
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-size: 0.8rem;
        color: $c_text_subtle;
    }

    img {
        aspect-ratio: 1/1;
    }
}


.as-icons{
    align-self: center;

    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;  
}


.as-text{
    align-self: flex-start;

    display: flex;
    align-items: center;
    
    color: $c_lighter;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    width: 100%;  
}


.card-links{
    display: flex;
    height: 2rem;
    margin: 0 0 0;
    width: 100%;
    
    a{
        display: flex;
        align-items: center;
        justify-content: center;

        background: $c_darker;
        border-color: #174650;
        border-style: solid;
        border-width: 1px 1px 0 0;
        box-sizing: border-box;
        color: $c_lightest;
        padding: 0 $card-info-side-spacing;
        height: 100%;
        width: 100%;

        &:nth-of-type(2){
            border-right: none;
        }

        &:hover,
        &:focus,
        &:active{
            background: url(../images/beam-sparkles-small.png) $c_darker_hover;
        }
        &:focus{
            // Prevent the loss of the side of the outline next to the sibling link
            position: relative;
            z-index: var(--layerFgBelow);

            // Prevent the loss of the sides of the outline up against the borders of the card (which has overflow: hidden)
            outline-offset: -1px;
        }
    }

}

.brightImg {
    filter: brightness(0.98);
}


