


$c_lightest: white;
$c_lighter: #ebfffe;
$c_light: #d1f7f6;
$c_mid: #b2fbff;
$c_dark: #2dcfcf;
$c_darker: #195866;
$c_darkest: #0e353e;

$c_darker_hover: #207081;

$c_bright: #00ffff;
$c_background: #0e1415;
$c_background_nav: #0b1011;

$g_rune_glow: linear-gradient(90deg, transparent 0%, $c_darkest 43%, $c_darkest 57%, transparent 100%);
$g_rune_glow_darker: linear-gradient(90deg, transparent 0%, #0b2930 43%, #0b2930 57%, transparent 100%);
$g_rune_glow_subtle: linear-gradient(90deg, $c_background 0%, #0b2930 43%, #0b2930 57%, $c_background 100%);

$breakpoint_nav_bar: 470px;
$breakpoint_wide_screen: 690px;
$breakpoint_wide_screen_ends: 1900px;
$breakpoint_min_supported: 320px;
